<%- include('parts/head') %>

<body class="d-flex flex-column h-100">

<main class="flex-shrink-0">
    <!-- Navigation-->
    <%- include('components/navbar') %>
    <!-- Page Content-->
    <section class="py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Ko'p beriladigan savollar</h1>
                <p class="lead fw-normal text-muted mb-0">Sizga yordam berishga hamisha tayyormiz )</p>
            </div>
            <div class="row gx-5">
                <div class="col-xl-8">
                    <h2 class="fw-bolder mb-3">Internet bilan bog'liq muammolar</h2>
                    <div class="accordion mb-5" id="accordionExample">
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Internet ishlamay qolsa kimga murojaat qilay?
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Agar uyingizdagi internetingiz ishlamay qolsa, sayt orqali ro'yxatdan o'ting va shaxsiy kabinet orqali
                                    ustani chaqirish uchun xabar qoldiring. Sizning tumaningizga biriktirilgan mutaxasisimiz tezda nosozlikni tuzatib beradi.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h3 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Oylik to'lovni to'lagandim, lekin internet ishlamayapdi?
                                </button>
                            </h3>
                            <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Routerni o'chirib, qayta ishga tushirib ko'ring. Agar bu ham ish bermasa, unda bizga aloqaga chiqing. Mutaxasislarimiz
                                    nosozlikni tekshirib berishadi.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="card border-0 bg-light mt-xl-5">
                        <div class="card-body p-4 py-lg-5">
                            <div class="d-flex align-items-center justify-content-center">
                                <div class="text-center">
                                    <div class="h6 fw-bolder">Qo'shimcha savollaringiz bormi?</div>
                                    <p class="text-muted mb-4">
                                        Bizga murojaat qiling
                                        <br/>
                                        <a href="mailto: abdullayevmardon@gmail.com">abdullayevmardon@gmail.com</a>
                                    </p>
                                    <div class="h6 fw-bolder">A'zo bo'ling</div>
                                    <a class="fs-5 px-2 link-dark" href="#"><i class="bi-twitter"></i></a>
                                    <a class="fs-5 px-2 link-dark" href="#"><i class="bi-facebook"></i></a>
                                    <a class="fs-5 px-2 link-dark" href="#"><i class="bi-linkedin"></i></a>
                                    <a class="fs-5 px-2 link-dark" href="#"><i class="bi-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('components/footer') %>
<%- include('parts/foot') %>
