<%- include('parts/head') %>

<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <%- include('components/navbar') %>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="row gx-5 align-items-center justify-content-center">
                <div class="col-lg-8 col-xl-7 col-xxl-6">
                    <div class="my-5 text-center text-xl-start">
                        <h1 class="display-5 fw-bolder text-white mb-2">Mardon Telecom</h1>
                        <p class="lead fw-normal text-white-50 mb-4">O'zbekistondagi eng tezkor va sifatli internet
                            operatori</p>
                        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                            <!--                                    <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>-->
                            <!--                                    <a class="btn btn-outline-light btn-lg px-4" href="#">Learn More</a>-->
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                    <img class="img-fluid rounded-3 my-5" src="/assets/router.jpg" alt="..."/>
                </div>
            </div>
        </div>
    </header>
    <!-- Blog preview section-->
    <section class="bg-light py-5">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="fw-bolder">Tarif rejalari</h1>
                <p class="lead fw-normal text-muted mb-0">O'zbekiston bo'yicha eng arzon va qulay tarif rejalari</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">UNLIM</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">8 $</span>
                                <span class="text-muted">/ oy.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Cheksiz trafik
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Internet tezligi: 30 Mb/s
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-primary" href="#">Batafsil</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">Yangi</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">9 $</span>
                                <span class="text-muted">/ oy.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Cheksiz trafik
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Internet tezligi: 50 Mb/s
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-primary" href="#">Batafsil</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-4">
                    <div class="card mb-5 mb-xl-0">
                        <div class="card-body p-5">
                            <div class="small text-uppercase fw-bold text-muted">SPECIAL</div>
                            <div class="mb-3">
                                <span class="display-4 fw-bold">12 $</span>
                                <span class="text-muted">/ oy.</span>
                            </div>
                            <ul class="list-unstyled mb-4">
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Cheksiz trafik
                                </li>
                                <li class="mb-2">
                                    <i class="bi bi-check text-primary"></i>
                                    Internet tezligi: 120 Mb/s
                                </li>
                            </ul>
                            <div class="d-grid"><a class="btn btn-primary" href="#">Batafsil</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->

<%- include('components/footer') %>
<%- include('parts/foot') %>